.search-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 3rem;

    .lat-container,
    .lon-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: row;
      gap: 1rem;

      .lat-title,
      .lon-title {
        font-style: italic;
        color: #1865a3;
      }
    }
  }
}

input {
  border: none;
  border-bottom: 1px solid #1865a3;
  height: 1rem;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

input:focus {
  outline: none;
}

button {
  border-radius: 2rem;
  box-shadow: none;
  width: 10rem;
  height: 2rem;
  background-color: #1865a3;
  border: none;
  color: white;
  font-weight: bold;
  justify-self: center;
  cursor: pointer;
}
